/* Basic reset */
:after
:before{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Main */
body{
    background: white;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
    position: relative;
}


/* Styling af menubar & logo */
/* Menu til mobilen */
.navigation_container {
    background: #ffff;
    color: black;
    position: sticky;
    top:0;
  }
  
.mobileiconlabel {
    display: inline-block;
    color: #63A0E8;
    background: white;
    font-style: normal;
    font-size: 40px;
    padding: 16px;
  }
.menuitem {
    display: block;
    width: 100%;
    padding: 23px;
    color: black;
    text-decoration: none;
    text-align: center;
  }
  
/* Funktionen der gemmer menuen, indtil der klikkes */
.menuitems_container, 
.mobileicon {
    display: none;
}
  
/* Funktionen der viser menuikoner når mobilikonet er klikket på */
.navigation_container input:checked ~ .menuitems_container {
    display: block;
}
  
/* Viser logo i højre side */
.companylogo {
    position: absolute;
    top: 0px;
    right:10px;
    width: 80px;
}
.logo {
    width: 60px;
    height: 60px;
    padding-top: 3px;
    padding-left: 10px;
}


/* Responsive layout - Fra mobil til desktop - menuen */
@media screen and (min-width: 900px) {
    
/* Menubar */
.mobileiconlabel, 
.mobileicon {
    display: none;
}
.menuitems_container {
    display: flex;
    justify-content: flex-end;
}
.menuitem {
    width: 130px;
}
.menuitem:hover {
    background: #63A0E8;
    color: white;
}
.companylogo {
      left: 30px;
    }
}


/* Styling af underside 5 - Foodtruck */
.foodtruck-overskrift{
    text-align: center;
    font-size: 40px;
}
.foodtruck-foto {
    width: 60%;
    display: block;
    margin: 0 auto;
}
.maden-tekst{
    color: white;
    padding-left: 20px;
    padding-right: 40px;
    text-align: left;
    line-height: 25px;
    padding: 20px;
}
/* Formularen*/
.kontaktformular-overskrift{
    text-align: center;
    padding-top: 15px;
    margin-bottom: -10px;
}
.omos-boks{
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #63A0E8;
}

.burger-skiller-omos{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
    padding-top: 20px;
}

.form-style {
    margin:10px auto;
    width: 400px;
    padding: 20px 12px 10px 20px;
    font: 14px;
}
.form-style td {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style .required{
    color:red;
}
.form-style input[type=submit], .form-style input[type=reset]{
    background: #000000;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style input[type=submit]:hover, .form-style input[type=reset]:hover{
    background: #63a0e8;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style .field-textarea{
    height: 100px;
}
.form-style input[type=text], 
.form-style input[type=email],
textarea{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    outline: none;  
}
.form-style .long{
    width: 100%;
}
.form-style input[type=text]:focus, 
.form-style input[type=email]:focus,
.form-style textarea:focus{
    -moz-box-shadow: 0 0 8px #63a0e8;
    -webkit-box-shadow: 0 0 8px #63a0e8;
    box-shadow: 0 0 8px #63a0e8;
    border: 1px solid #63a0e8;
}
.error{
    color: #D8000C;
    background-color: #FFBABA;
}
  







/* Styling af footer */
/* Footer */
footer{
    position: relative;
    width: 97.2%;
}

.flex-container{
    background-color: #6396E1;
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-around;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer_overskrift{
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
}
.flex-item-left{
    display: flex;
    flex-direction: column;
    line-height: 0.5px;
    color: white;
    padding-top: 10px;
}

.flex-item-middle{
    display: flex;
    flex-direction: column;
    line-height: 0.5px;
    color: white;
    padding-top: 10px;
}
.flex-item-right{
    flex-direction: row;
}

input{
    border-radius: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: -3px;
    font-family: Quicksand;
}
input[type=submit]{
    background-color: white;
    color: black;
    border: none;
    padding-right: 10px;
}

.followus{
    color:  rgb(185, 185, 33);
    font-size: 18px;
    font-family: Helvetica;
    text-align: center;
    margin-top: 20px;
    padding-left: 200px;
}

#followus{
    padding-left: 250px;
    font-size: 16px;
    font-style: italic;
    color: black;
}

.form-control{
    border-radius: 15px;
    padding-right: 60px;
}

.sociale{
    width: 40px;
    height: 40px;
}

