/* Basic reset */
:after
:before{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Main */
body{
    background: white;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
    position: relative;
}


/* Styling af menubar & logo */
/* Menu til mobilen */
.navigation_container {
    background: #ffff;
    color: black;
    position: sticky;
    top:0;
  }
  
.mobileiconlabel {
    display: inline-block;
    color: #63A0E8;
    background: white;
    font-style: normal;
    font-size: 40px;
    padding: 16px;
  }
.menuitem {
    display: block;
    width: 100%;
    padding: 23px;
    color: black;
    text-decoration: none;
    text-align: center;
  }
  
/* Funktionen der gemmer menuen, indtil der klikkes */
.menuitems_container, 
.mobileicon {
    display: none;
}
  
/* Funktionen der viser menuikoner når mobilikonet er klikket på */
.navigation_container input:checked ~ .menuitems_container {
    display: block;
}
  
/* Viser logo i højre side */
.companylogo {
    position: absolute;
    top: 0px;
    right:10px;
    width: 80px;
}
.logo {
    width: 60px;
    height: 60px;
    padding-top: 3px;
    padding-left: 10px;
}


/* Responsive layout - Fra mobil til desktop - menuen */
@media screen and (min-width: 900px) {
    
/* Menubar */
.mobileiconlabel, 
.mobileicon {
    display: none;
}
.menuitems_container {
    display: flex;
    justify-content: flex-end;
}
.menuitem {
    width: 130px;
}
.menuitem:hover {
    background: #63A0E8;
    color: white;
}
.companylogo {
      left: 30px;
    }
}

/* Styling af underside 1 - Vores Udvalg */
.udvalg-overskrift{
    text-align: center;
    font-size: 40px;
}

.container-card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}

.card-image1{
    width: 70%;
}
.card-image2{
    width: 65%;
    height: 270px;
}
.card-image3{
    width: 60%;
    height: 250px;
}
.card-image4{
    width: 60%;
    height: 250px;
}

.card1{
    position: relative;
    width: 425px;
    height: 600px;
    margin: 30px;
    background-color: #63A0E8;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card2{
    position: relative;
    width: 425px;
    height: 600px;
    margin: 30px;
    background-color: #63A0E8;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card3{
    position: relative;
    width: 425px;
    height: 600px;
    margin: 30px;
    background-color: #63A0E8;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card4{
    position: relative;
    width: 425px;
    height: 600px;
    margin: 30px;
    background-color: #63A0E8;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-card {
    text-align: center;
}
.name-card {
    font-size: 20px;
    color: white;
    z-index: 1;
}

.burger-beskrivelse{
    color: white;
    padding-left: 20px;
    padding-right: 40px;
    text-align: left;
}

.burger-skiller{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 74%;
    height: auto;
}

.ekstra-tilbehør{
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.card5{
    width: 700px;
    height: 300px;
    margin: 30px;
    background-color: #F3CD7B;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}
.tilbehør-overskrift{
    text-align: center;
    font-size: 30px;
}
.tilbehør-beskrivelse{
    color: white;
    padding-left: 20px;
    padding-right: 40px;
    text-align: center;
    line-height: 20px;
}

.knap-bestil{
    display: grid;
    margin: auto;
    width: 150px;
    background-color: #E04242;
    color: white;
    font-family: Quicksand, sans-serif;
    font-size: 20px;
    padding: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
}
.bestil-knap{
    text-decoration: none;
}

.dame1{

}
.dame-image1{
    position: sticky;
    width: 25%;
    height: 100%;
    float: right;
    z-index: -10;
}
.dame2{
   
}
.dame-image2{
    position: sticky;
    width: 25%;
    height: 120%; 
}

/* Styling af footer */
/* Footer */
footer{
    position: relative;
    width: 97.2%;
}

.flex-container{
    background-color: #6396E1;
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-around;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer_overskrift{
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
}
.flex-item-left{
    display: flex;
    flex-direction: column;
    line-height: 0.5px;
    color: white;
    padding-top: 10px;
}

.flex-item-middle{
    display: flex;
    flex-direction: column;
    line-height: 0.5px;
    color: white;
    padding-top: 10px;
}
.flex-item-right{
    flex-direction: row;
}

input{
    border-radius: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: -3px;
    font-family: Quicksand;
}
input[type=submit]{
    background-color: white;
    color: black;
    border: none;
    padding-right: 10px;
}

.followus{
    color:  rgb(185, 185, 33);
    font-size: 18px;
    font-family: Helvetica;
    text-align: center;
    margin-top: 20px;
    padding-left: 200px;
}

#followus{
    padding-left: 250px;
    font-size: 16px;
    font-style: italic;
    color: black;
}

.form-control{
    border-radius: 15px;
    padding-right: 60px;
}

.sociale{
    width: 40px;
    height: 40px;
}